aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
attrs==25.4.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cryptography==46.0.3
db-dtypes==1.5.0
decorator==5.2.1
dlt==1.21.0
frozenlist==1.8.0
fsspec==2026.1.0
gcsfs==2026.1.0
gitdb==4.0.12
gitpython==3.1.46
giturlparse==0.14.0
google-api-core==2.29.0
google-auth==2.48.0
google-auth-oauthlib==1.2.4
google-cloud-bigquery==3.40.0
google-cloud-core==2.5.0
google-cloud-run==0.15.0
google-cloud-secret-manager==2.26.0
google-cloud-storage==3.8.0
google-cloud-storage-control==1.9.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
grpc-google-iam-v1==0.14.3
grpcio==1.76.0
grpcio-status==1.76.0
humanize==4.15.0
idna==3.11
jsonpath-ng==1.7.0
markdown-it-py==4.0.0
mdurl==0.1.2
multidict==6.7.1
numpy==2.4.1
oauthlib==3.3.1
orjson==3.11.5
packaging==26.0
pandas==2.3.3
pathvalidate==3.3.1
pendulum==3.1.0
pluggy==1.6.0
ply==3.11
propcache==0.4.1
proto-plus==1.27.0
protobuf==6.33.4
pyarrow==23.0.0
pyasn1==0.6.2
pyasn1-modules==0.4.2
pycparser==3.0
pygments==2.19.2
python-dateutil==2.9.0.post0
pytz==2025.2
pyyaml==6.0.3
requests==2.32.5
requests-oauthlib==2.0.0
requirements-parser==0.13.0
rich==14.3.1
rich-argparse==1.7.2
rsa==4.9.1
semver==3.0.4
setuptools==80.10.2
simplejson==3.20.2
six==1.17.0
smmap==5.0.2
sqlglot==28.6.0
tenacity==9.1.2
tomlkit==0.14.0
typing-extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
yarl==1.22.0
